<h1><i class="icon-calendar"></i> Datas Especiais</h1>
<div class="row">
  <div class="pull-right">
    <%= link_to "<i class='icon-plus icon-white'></i> Criar Data Especial".html_safe, new_celebration_path, class: "btn btn-primary btn-large" %> 
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs">
    <% (1..12).each do |month| %>
      <li <%= (@month.to_i == month ? "class=active" : "") %>>
        <%= link_to month, "#{celebrations_path}?month=#{month}" %>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    
    <% if @celebrations.size > 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Dia</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
  
      <%= content_tag_for(:tr, @celebrations) do |celebration| %>
          <td><%= celebration.id %></td>
          <td><%= day_month(celebration.day, celebration.month) %></td>
          <td><%= link_to celebration.description, celebration %></td>
          <td>
            <%= link_to '<i class="icon-edit"></i> Editar'.html_safe, edit_celebration_path(celebration), :class => 'btn btn-mini' %>
            <%= link_to '<i class="icon-trash"></i> Apagar'.html_safe, celebration, confirm: 'Você tem certeza?', method: :delete, :class => 'btn btn-mini btn-danger' %>
          </td>
      <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>