<h1>Celebrations</h1>

<div id="tags_group" class="well well-small pull-right">
  <% @celebration.tags.each do |tag| %>
    <i class="icon-tag"></i> <%= link_to tag.name, tag_path(tag) %> <br/>
  <% end %>
</div>


<p>
  <strong>Description:</strong>
  <%= @celebration.description %>
</p>

<p>
  <strong>Day:</strong>
  <%= @celebration.day %>
</p>

<p>
  <strong>Month:</strong>
  <%= @celebration.month %>
</p>

<p>
  <strong>Special:</strong>
  <%= @celebration.special %>
</p>

<%= link_to 'Edit', edit_celebration_path(@celebration) %> |
<%= link_to 'Back', celebrations_path %>