<h1><i class="icon-calendar"></i> <%= @celebration.description %></h1>

<div id="tags_group" class="well well-small pull-right">
  <% @celebration.tags.each do |tag| %>
    <i class="icon-tag"></i> <%= link_to tag.name, tag_path(tag) %> <br/>
  <% end %>
</div>

<p>
  <strong>Dia:</strong>
  <%= @celebration.day %>
</p>

<p>
  <strong>Mês:</strong>
  <%= @celebration.month %>
</p>

<p>
  <strong>Especial?</strong>
  <%= @celebration.special %>
</p>

<%= link_to 'Editar', edit_celebration_path(@celebration) %> |
<%= link_to 'Voltar', celebrations_path %>