<% content_for(:highlights) do %>
  <% @highlights.each do |h| %>
  <li>
    <figure class="highlight">
      <%= image_tag h.cover_photo.url(:cropped) %>
      <figcaption>
        <%= h.description %>
      </figcaption>
    </figure>
  </li>
  <% end %>
  <li>
    <figure class="highlight">
      <%= image_tag 'img/bg_r-1.jpg' %>
      <figcaption>
        Curta nossa fan page no Facebook!
      </figcaption>
    </figure>
  </li>
<% end %>


<% content_for(:products) do %>
<% @products.in_groups_of(4) do |group| %>
  <li class="latest_item">
    
  <% group.each do |product| %>
    <article class="portfolio hentry one_fourth">    
      <div class="portfolio_inner">
        <figure>
          <a href="#">
            <%= image_tag product_picture_tag(product), class: "fullwidth product_pic" %>
          </a>
        </figure>
          <header class="entry-header">
          <h3 class="entry-title"><%= product.name %></h3>
        </header>
        <footer class="entry-meta">
          <ul class="cmsms_category">
            <% product.tags.each do |t| %>
              <li><a href="#"><%= t.name %></a></li>
            <% end %>
          </ul>
        </footer>
        <div class="entry-content"></div>
      </div>
    </article>
  <% end %>
  </li>
  <% end %>
<% end %>