<div id="contact_us_form">
  
  <%= form_tag contacts_mail_path, method: 'get', remote: true do |f| %>
    <div class="row">
      <div id="contact_us_error"></div>
    </div>
    <div class="row">
        <%= label_tag :name, 'Nome: ' %>
        <%= text_field_tag :name %>
    </div>
    <div class="row">
      <%= label_tag :name, 'E-mail: ' %>
      <%= text_field_tag :email %>
    </div>
    <div class="row">
      <%= label_tag :name, 'Mensagem: ' %>
      <%= text_area_tag :message %>
    </div>
    <div class="row">
      <%= submit_tag 'Enviar', class: 'button', id: 'contact_submit' %>
    </div>
  
  <% end %>
</div>