<h1><i class="icon-picture"></i> <%= @product.name %> Pictures</h1>
<div class="row">
  <br><br>
  <div id="form">
    <%= form_for [@product,Picture.new] do |f| %>
      <div class="well">
        <%= f.label :picture, 'Selecione uma imagem: '%>
        <%= f.file_field :picture, name: "picture[picture]" %>
        <br>
        <%= f.submit 'Enviar', class: 'btn btn-primary' %>
      </div>    
    <% end %>
  </div>

  <div class="span9">
    <ul id="pictures" class="thumbnails">
      <%= render @pictures %>
    </ul>
  </div>
</div>

<div class="clear row">
  <%= link_to 'Back', products_path %>
</div>