<%= simple_form_for(@product, :html => {:class => 'form-horizontal' }) do |f| %>
  <div class="well">
    <%= f.error_notification %>
    <%= f.association :group %>
    <%= f.input :name %>
    <%= f.input :description, :input_html => {:class => "span6", :rows => 4 } %>
    <%= f.association :tag, :input_html => {:class => "span6", :rows => 4 } %>
    
    <div class="controls">
      <%= f.button :submit, :class => "btn btn-primary" %>
      <%= link_to 'Cancel', products_path, :class => 'btn' %>
    </div>

  </div>
<% end %>
