<h1><i class="icon-gift"></i> <%= @product.name %></h1>

<div id="tags_group" class="well well-small pull-right">
  <% @product.tags.each do |tag| %>
    <i class="icon-tag"></i> <%= link_to tag.name, tag_path(tag) %> <br/>
  <% end %>
</div>

<p>
  <strong>Grupo:</strong>
  <%= @product.group.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Voltar', products_path %>