<!DOCTYPE html>
<!--[if lt IE 7]><html dir="ltr" lang="en-US" class="ie6"><![endif]-->
<!--[if IE 7]><html dir="ltr" lang="en-US" class="ie7"><![endif]-->
<!--[if IE 8]><html dir="ltr" lang="en-US" class="ie8"><![endif]-->
<!--[if gt IE 8]><!--><html dir="ltr" lang="en-US"><!--<![endif]-->
  <head>
    <%= render :partial => 'layouts/site_head' %>
  </head>

  <body style="background-image:url(/assets/bgs/14.jpg)">
    <%= render :partial => 'layouts/facebook' %>
    
<!-- __________________________________________________ Start Page -->
    <section id="page">
      <a href="#" id="slide_top"></a>
      <ul class="spinner snow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    
<!-- __________________________________________________ Start Header -->

      <%= render :partial => 'layouts/header' %>
<!-- __________________________________________________ Finish Header -->


<!-- __________________________________________________ Start Middle -->

      <div class="wrap_headline">
      </div>
      <div class="container">      
        <section id="middle">
          <div class="middle_inner">
<!-- __________________________________________________ Start Content -->

            <div class="content_wrap">
              <section id="content">
                <div class="entry">
                  <h1>Visite nossa loja</h1>
                  <br />
                  <div class="resizable_block">
                    <div id="google_map_5" class="google_map fullwidth"></div>
                  </div>
                  <script type="text/javascript">
                    jQuery(document).ready(function () { 
                      jQuery('#google_map_5').gMap( { 
                        zoom : 17, 
                        markers : [ { 
                          address : '', 
                          latitude : -24.955266, 
                          longitude : -53.458915, 
                          mapTypeControl : false, 
                          popup : true 
                        } ], 
                        controls : [], 
                        scrollwheel : true 
                      } );
                    } );
                  </script>
                  <br /><br /><br />
                  <h3>Fale conosco</h1>
                    
                  

              </section>
<!-- __________________________________________________ Finish Content -->    

<!-- __________________________________________________ Start Sidebar -->          
  
              <section id="sidebar">
                <div class="one_first">
                  <h2 class="widgettitle">Endereço</h2>
                  Av. Brasil, 6320<br>
                  Cascavel - PR <br>
                  (45) 3324-6157
                </div>
                <div class="one_first">
                  <h2 class="widgettitle">E-mail</h2>
                  <a href="mailto:loja@eukerotudo.com.br">loja@eukerotudo.com.br</a>
                </div>
                <div class="one_first">
                  <h2 class="widgettitle">Facebook fan page</h2>
                  <a href="http://www.facebook.com/pages/Kero-Tudo-Presentes/282373601872746">
                    Kero Tudo Presentes
                  </a>
                </div>
              </section>
<!-- __________________________________________________ Finish Sidebar -->  

            </div>
          </div>
        </section>
<!-- __________________________________________________ Finish Middle -->


<!-- __________________________________________________ Start Bottom -->

<%= render :partial => 'layouts/bottom' %>

<!-- __________________________________________________ Finish Bottom -->

      </div>
    </section>
<!-- __________________________________________________ Finish Page -->


<!-- __________________________________________________ Start Footer -->

<%= render :partial => 'layouts/site_footer' %>

<!-- __________________________________________________ Finish Footer -->

  </body>
</html>

