<!DOCTYPE html>
<!--[if lt IE 7]><html dir="ltr" lang="en-US" class="ie6"><![endif]-->
<!--[if IE 7]><html dir="ltr" lang="en-US" class="ie7"><![endif]-->
<!--[if IE 8]><html dir="ltr" lang="en-US" class="ie8"><![endif]-->
<!--[if gt IE 8]><!--><html dir="ltr" lang="en-US"><!--<![endif]-->
  <head>
    <%= render :partial => 'layouts/site_head' %>
  </head>

  <body style="background-image:url(/assets/bgs/07.jpg)">
    
    <!-- __________________________________________________ Start Page -->

    <section id="page">
      <a href="#" id="slide_top"></a>

<!-- __________________________________________________ Start Header -->

      <%= render :partial => 'layouts/header' %>
<!-- __________________________________________________ Finish Header -->


<!-- __________________________________________________ Start Middle -->

      <div class="wrap_headline">
        <div class="headline">
            <h2>Presentes</h2>
            <p class="filter_menu">
              <%= yield :filter_menu %>
            </p>
        </div>
      </div>
      <div class="container">      
        <section id="middle">
          <div class="middle_inner">
            
<!-- __________________________________________________ Start Content -->
            <div class="pj_sort">
            							<div class="divider"></div>
							
            							<div class="p_options_block" style="display: block;">
								
            								<div class="p_filter">
            									<div class="p_filter_container">
            										<a class="p_cat_filter button" data-filter="article.portfolio" title="All Categories" href="#"><span>All Categories</span></a>
            										<ul class="p_filter">
            											<li class="current"><a data-filter="article.portfolio" title="All Categories" href="#">All Categories</a></li>
            											<li><a data-filter="article.portfolio[data-category~='advertising']" title="Advertising" href="#">Advertising</a></li>
            											<li><a data-filter="article.portfolio[data-category~='artworks']" title="Artworks" href="#">Artworks</a></li>
            											<li><a data-filter="article.portfolio[data-category~='photography']" title="Photography" href="#">Photography</a></li>
            											<li><a data-filter="article.portfolio[data-category~='web-design']" title="Web design" href="#">Web design</a></li>
            										</ul>
            									</div>
            									<div class="cl"></div>
            								</div>
            								<div class="cl"></div>
            							</div>
            							<div class="divider"></div>
            						</div>
            
            <section id="middle_content">
              <div class="entry">
                <section class="waiting" style="display:none">Please wait!</section>
                <section id="portfolio" class="portfolio_container four_blocks">
                  <%= render :partial => 'portfolio' %>
                  <%= paginate @products %>
                </section>
              </div>
            </section>
<!-- __________________________________________________ Finish Content -->
            </div>
        </section>
<!-- __________________________________________________ Finish Middle -->


<!-- __________________________________________________ Start Bottom -->

<%= render :partial => 'layouts/bottom' %>

<!-- __________________________________________________ Finish Bottom -->

      </div>
    </section>
<!-- __________________________________________________ Finish Page -->


<!-- __________________________________________________ Start Footer -->

<%= render :partial => 'layouts/site_footer' %>

<!-- __________________________________________________ Finish Footer -->

  </body>
</html>

