<!DOCTYPE html>
<!--[if lt IE 7]><html dir="ltr" lang="en-US" class="ie6"><![endif]-->
<!--[if IE 7]><html dir="ltr" lang="en-US" class="ie7"><![endif]-->
<!--[if IE 8]><html dir="ltr" lang="en-US" class="ie8"><![endif]-->
<!--[if gt IE 8]><!--><html dir="ltr" lang="en-US"><!--<![endif]-->
  <head>
    
    <%= render :partial => 'layouts/site_head' %>

  </head>
  <body style="background-image:url(/assets/bgs/07.jpg)">
    <%= render :partial => 'layouts/facebook' %>
    
<!-- __________________________________________________ Start Page -->

    <section id="page">
      <a href="#" id="slide_top"></a>

<!-- __________________________________________________ Start Header -->
    <%= render :partial => 'layouts/header' %>
<!-- __________________________________________________ Finish Header -->


      <div class="container">
<!-- __________________________________________________ Start Top -->

        <section id="top">
          <div class="top_inner">
            <ul id="slider" class="responsiveSlider">
              <%= yield(:highlights) %>
            </ul>
          </div>
        </section>
<!-- __________________________________________________ Finish Top -->        
        
<!-- __________________________________________________ Start Middle -->
      
        <section id="middle">
          <div class="middle_inner">
<!-- __________________________________________________ Start Top Sidebar -->

            <section id="top_sidebar">
              <div class="one_first">
                <aside class="widget widget_text">
                  <div class="textwidget">
                    <section class="post_type_shortcode">
                      <h2 class="cms_title">
                        Produtos
                        <span class="widget_navi">
                          <a href="#" class="cmsms_content_prev_slide"><span></span></a>
                          <a href="#" class="cmsms_content_next_slide"><span></span></a>
                        </span>
                      </h2>
                      <script type="text/javascript">
                        jQuery(document).ready(function () { 
                          jQuery('.post_type_list').cmsmsResponsiveContentSlider( { 
                            sliderWidth : '100%', 
                            sliderHeight : '171px', 
                            animationSpeed : 500, 
                            animationEffect : 'slide', 
                            animationEasing : 'easeInOutExpo', 
                            pauseTime : 0, 
                            activeSlide : 1, 
                            touchControls : true, 
                            pauseOnHover : false, 
                            arrowNavigation : true, 
                            slidesNavigation : false 
                          } );
                        } );
                      </script>
                      <ul class="post_type_list portfolio_container responsiveContentSlider">
                        <%= yield(:products) %>
                      </ul>
                    </section>
                  </div>
                </aside>
              </div>
            </section>
<!-- __________________________________________________ Finish Top Sidebar -->

          </div>
        </section>
<!-- __________________________________________________ Finish Middle -->


<!-- __________________________________________________ Start Bottom -->

  <%= render :partial => 'layouts/bottom' %>

<!-- __________________________________________________ Finish Bottom -->

      </div>
    </section>
<!-- __________________________________________________ Finish Page -->


<!-- __________________________________________________ Start Footer -->

    <%= render :partial => 'layouts/site_footer' %>
<!-- __________________________________________________ Finish Footer -->
  
  <script type="text/javascript">
      jQuery(document).ready(function () { 
        jQuery('#slider').cmsmsResponsiveSlider( { 
          animationSpeed : 500, 
          animationEffect : 'fadeSlide', 
          animationEasing : 'easeInOutExpo', 
          pauseTime : 7000, 
          activeSlide : 1, 
          buttonControls : false, 
          touchControls : true, 
          pauseOnHover : false, 
          showCaptions : true, 
          arrowNavigation : true, 
          arrowNavigationHover : false, 
          slidesNavigation : true, 
          slidesNavigationHover : false, 
          showTimer : false, 
          timerHover : false 
        } );
      } );
    </script>
  </body>
</html>

